body,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("list.jpg");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

header {
  background-color: rgba(
    52,
    152,
    219,
    0.8
  ); /* Add opacity to the background color */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 50px;
  margin: 5;
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.add-task input[type="text"],
.add-task input[type="date"],
.add-task button {
  padding: 25px;
  font-size: 35px;
  border: 5;
  border-radius: 10px;
  margin: 10px;
}

.add-task input[type="text"] {
  width: 200px;
}

.add-task button {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-task button:hover {
  background-color: #2980b9;
}

.task-list {
  text-align: center;
  margin-top: 20px;
}

.task-list h2 {
    background-color: burlywood;
    text-align: center;
  font-size: 20px;
  padding: 30px;
  border-radius: 5px;
  margin: 25px;
  display: flex;
  justify-content: space-between;
  
}

ul#tasks {
  list-style: none;
  padding: 0;
}

li {
  background-color: rgba(234, 231, 231, 1); /* Add opacity to the background color */
  color: #333;
  padding: 30px;
  border-radius: 5px;
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
